plugin.xml_gen
bin/
target/
tmp/
.settings/
MANIFEST.MF_gen
.DS_Store*
.metadata
runtimeInfo
workspace
*._trace
Thumbs.db
.Rhistory
.pydevproject
deps/
diagrams/*
.idea
log/
catalog-v*.xml
.RData
.Rproj.user
*.tar.gz
*.zip
*.gml
