<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated railway -->
      <package
            uri="http://www.semanticweb.org/ontologies/2015/trainbenchmark"
            class="hu.bme.mit.trainbenchmark.railway.RailwayPackage"
            genModel="model/railway.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated schedule -->
      <package
            uri="http://www.semanticweb.org/ontologies/2015/trainbenchmark/schedule"
            class="hu.bme.mit.trainbenchmark.schedule.SchedulePackage"
            genModel="model/schedule.genmodel"/>
   </extension>

</plugin>
