<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Metamodel -->
      <package
            uri="http://www.semanticweb.org/ontologies/2011/1/TrainRequirementOntology.owl"
            class="Concept.ConceptPackage"
            genModel="model/Metamodel.genmodel"/>
   </extension>

</plugin>
